#toggleThemeBtn {
  width: 35px;
  padding: 5px;
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  .toggleThemeBtn-inner {
    width: 14px;
    height: 10px;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 12px;
    }
  }
}
