@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.scss";
// _________________________> GLOBAL STYLES <_________________________ //

:root {
  --radius: 6px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  @apply uppercase focus-visible:outline-1 rounded focus-visible:outline-para;
}
button {
  @apply focus-visible:outline-offset-4;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
  max-width: 65ch;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--primary_light);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--primary_dark);
  border: 2px solid var(--primary_light);
}
::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

// _________________________> MY STYLES <_________________________ //;

* .bg-bg_para,
* .text-para {
  @apply transition-colors duration-300;
}

.site_layout {
  @apply max-w-[69.375rem] mx-auto;
}
.site_padding {
  @apply py-8 md:py-16;
}
.site_layout_lg {
  @apply max-w-7xl mx-auto px-2;
}

.primary_bg {
  background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

input:user-valid {
  @apply border-green-500;
}
input:user-invalid {
  @apply border-red-500;
}
input:user-invalid {
  & + p {
    display: block;
  }
}

.ff_h1 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 0.9166666666666667rem + 2.7777777777777777vw, 3rem);
  line-height: 1;
}
.ff_para {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.7777777777777778rem + 0.4629629629629629vw,
    1.125rem
  );
  line-height: 1.625;
}
