@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";
@import "./theme.scss";
// _________________________> GLOBAL STYLES <_________________________ //

:root {
  --radius: 6px;
  --shadow_sm: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--color_front);
  outline-offset: -2px;
}
// btn outline-offset (3px)
[role="button"]:focus-visible {
  outline-offset: 3px;
}

nav a:focus-visible,
nav button:focus-visible,
nav button:hover {
  outline: none;
}

a,
button {
  @apply rounded uppercase relative;
}

// padding
a:not([role="button"], [aria-label="logo"]) {
  padding: 10px 10px;
}
// link shadow
a:not(
    [role="button"],
    [aria-label="logo"],
    [role="skip to main content"]
  ):hover {
  background: var(--color_front_hover);
  box-shadow: var(--shadow_sm);
}
.site_nav a:hover {
  box-shadow: none;
  background: none;
}

li {
  max-width: max-content;
  position: relative;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
  max-width: 50ch;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

// _________________________> MY STYLES <_________________________ //;

.text-para,
.text-para_bg,
.bg-para,
.bg-para_bg,
.text-color_front,
.text-color_back,
.text-primary_sky,
.bg-primary_sky,
.text-color_back,
.\[\&\>li\>a\]\:text-color_back > li > a,
.\[\&\>li\>a\]\:text-color_front > li > a,
.\[\&\>a\]\:text-color_back > a {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.site_layout {
  @apply max-w-screen-site_lg mx-auto;
}
.site_padding_block {
  @apply py-20;
}
.site_padding_inline {
  @apply px-6 md:px-10 site_lg:px-0;
}
.site_layout_lg {
  @apply max-w-7xl mx-auto px-2;
}
.site_structure {
  @apply max-w-screen-site_lg mx-auto py-[5em] px-6 md:px-10 site_lg:px-0;
}

// FLUID TYPOGRAPHY
.ff_h1 {
  font-size: 2.25rem;
  font-size: clamp(2.25rem, 0.9166666666666667rem + 2.7777777777777777vw, 3rem);
  line-height: 1;
}

// FLUID TYPOGRAPHY
.ff_para {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.7777777777777778rem + 0.4629629629629629vw,
    1.125rem
  );
  line-height: 1.625;
}

// GRADIENT WITH TRANSITION
// .gradient {
//   @include bkg-img-transition(
//     linear-gradient(
//       to bottom in oklab,
//       oklch(70% 0.5 255) -37% -37%,
//       oklch(100% 0 200) 30% 30%
//     ),
//     linear-gradient(
//       to bottom in oklab,
//       oklch(0% 0.09 255) -208% -208%,
//       oklch(25% 0.01 248) 100%
//     )
//   );
// }

// NAVBAR
nav {
  a,
  button {
    position: relative;
    &::after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      transform-origin: center;
      position: absolute;
      display: inline-block;
      background-color: var(--color_front);
      transition: transform 200ms ease, height 150ms ease;
    }
    &:not([aria-label="Toggle theme"]):hover::after,
    &:focus-visible:after {
      transform: scaleX(1);
      height: 2px;
    }
  }
}

.transition200 {
  @apply transition-all duration-200;
}
