@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.scss";

:root {
  --radius: 6px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  @apply hover:underline focus-visible:outline rounded-sm focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-primary_light;
}

:focus-visible {
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 3px;
  cursor: pointer;
  background: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--primary_light);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--primary_dark);
  border: 2px solid var(--primary_light);
}
::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.site_layout {
  max-width: 1024px;
  margin: auto;
  padding-block: 100px;
  padding-inline: 10px;
}
.site_layout_lg {
  max-width: 1280px;
  margin: auto;
  padding-inline: 5px;
}

@import "./genericStyles.scss";
