[data-theme="light-mode"] {
  --primary: rgb(6, 203, 247); //#06cbf7
  --primary_light: rgb(255, 254, 245); //#fcfbf5
  --primary_bright: rgb(13, 126, 132); //#0d7e84
  --primary_dark: rgb(33, 44, 68); //#212c44
  --primary_dark2: rgb(123, 139, 172); //#7b8bac

  --primary_sky: rgb(56 189 248 / 0.9); //#06cbf7

  --para: #131313;
  --bg_para: #ffffff;

  --secondary: rgb(242, 104, 24); // #f26818
  // --secondary2: rgb(241, 59, 84); //#f13b54

  --tertiary_light: rgb(233, 237, 255); //#e9edff
}

[data-theme="dark-mode"] {
  --primary: rgb(33, 44, 68);
  --primary_light: rgb(33, 44, 68);
  --primary_bright: rgb(243, 243, 243);
  --primary_dark: rgb(6, 203, 247);
  --primary_dark2: rgb(242, 242, 242);

  --primary_sky: rgb(56 189 248 / 0.9); //#06cbf7

  --para: #ffffff;
  --bg_para: #131313;

  --secondary: rgb(242, 104, 24);

  --tertiary_light: rgb(233, 237, 255);
}
