[data-theme="light-mode"] {
  --primary: #06cbf7;
  --primary_light: #fffef5;
  --primary_bright: #0d7e84;
  --primary_dark: #212c44;
  --primary_dark2: #7b8bac;

  --primary_sky: #38bdf8e6;

  --para: 0 24 46;
  --para_bg: 255 255 255;
  // --para: #00182e;
  // --para_bg: #ffffff;

  --para_blue: #e9edff;

  --secondary: #f26818;

  --tertiary_light: #e9edff;

  --color_front: 0 0 0;
  --color_front_hover: rgba(255, 255, 255);
  --color_back: 255 255 255;
  // --color_front: #000;
  // --color_back: #fff;
}

[data-theme="dark-mode"] {
  --primary: #212c44;
  --primary_light: #212c44;
  --primary_bright: #f3f3f3;
  --primary_dark: #06cbf7;
  --primary_dark2: #f2f2f2;

  --primary_sky: #38bdf8e6;

  --para: 182 194 207;
  --para_bg: 29 33 37;
  // --para: #b6c2cf;
  // --para_bg: #1d2125;

  --para_blue: #00182e;

  --secondary: #f26818;

  --tertiary_light: #00182e;

  --color_back: 0 0 0;
  --color_front: 255 255 255;
  --color_front_hover: rgba(255, 255, 255, 0.1);
  // --color_back: #000;
  // --color_front: #fff;
}
